/* ==========================================================================
   Animations
   - Look its moving
   -- Mostly taken as needed from https://github.com/daneden/animate.css
   ========================================================================== */


@keyframes policyTransition {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes pieChart {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes navigationAnimation {
  // 0% {
  //   transform: translateY(-100%);
  // }
  // 100% {
  //   transform: translateY(0%);
  // }
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px;
  }
}
