/* ==========================================================================
   Base
   - Should just set out the styles for html tags
   ========================================================================== */

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
    box-sizing: border-box;
    font-size: 112.5%;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    @include font-serif;
    @include font-size($base-font-size);

    @include respond-min($bp-tablet) {
        @include font-size(20px);
    }

    line-height: $line-height-ratio;
}

/*
 * A better looking default horizontal rule
 */

hr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}
/* =====================================
!Links
================================= */
a {
    color: $c-body;
}

/* =====================================
!Typography
================================= */

/*
Headings
------------------------------ */
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: $base-spacing-unit;
    margin-top: 0; // Top Margins nearly always give headaches, always space down.
}

/*
Paragraph / List
------------------------------ */


dl {
    margin: 0;
}

ul {
    margin-bottom: $base-spacing-unit;
    margin-top: 0;
}

dt,
dd,
p,
li {
    margin-bottom: $half-spacing-unit;
    margin-top: 0;
}


legend {
    width: 100%;
    display: block;
}

abbr[title] {
    border-bottom: 0;
}

a:focus,
input:focus,
textarea:focus,
[tabindex]:focus,
button:focus {
    @include focus-style;
}
