@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}


@function rem($pxval, $base: $base-font-size) {

    @if not unitless($pxval) {
        $pxval: strip-units($pxval);
    }

    @if not unitless($base) {
        $base: strip-units($base);
    }

    @return ($pxval / $base) * 1rem;
}


@function em($pxval, $base: $base-font-size) {

  @if not unitless($pxval) {
      $pxval: strip-units($pxval);
  }

  @if not unitless($base) {
      $base: strip-units($base);
  }
  @return ($pxval / $base) * 1em;
}

@function pie-chart-label-color($party) {

  @if (lightness($party) > 50) {

    @return #222222;

  } @else {

    @return #ffffff;

  }

}
