/* =====================================
    Vars
    --------------
    - Here we set variables that impact or are utilised by the rest of the style sheet
================================= */


/*
 !Breakpoints
 - These are 'poor' default, depending on application variables may not be appropriate but easier to remember throughout for
 smaller projects
 : use with @respond-min($bp-n) @respond-max($bp-n) mixins
 ------------------------------ */
$bp-mobile : 20em;
$bp-tablet : 48em;
$bp-desktop : 60em;



/*
 !Layout
 ------------------------------ */

$base-max-width : 65em;

/*
 !Typography
 ------------------------------ */

$base-font-size:    18px;

$base-line-height:  27px;

// Define a common margin based on typography

$base-spacing-unit: $base-line-height;

$half-spacing-unit: $base-spacing-unit / 2;

$line-height-ratio: $base-line-height / $base-font-size;


$h1-size:           30px;
$h2-size:           24px;
$h3-size:           18px;
$h4-size:           16px;
$h5-size:           16px;
$h6-size:           16px;


/*
 !Colours
 Prefixed with $c-
 ------------------------------ */

$c-black : #353535;
$c-green : #55832A;
$c-red: #832A2A;
$c-grey: #EAEAEA;
$c-dark-grey : #353535;
$c-light-grey: #F7F7F7;

$c-body : $c-black;
$c-positive : $c-green;
$c-negative : $c-red;

$c-facebook : #3B5998;
$c-twitter : #55ACEE;

$c-uvd : #FF1FA3;

$lighten-amount: 20;
