@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/functions';
@import '../styles/animations';
@import '../styles/components/form';
@import '../styles/icons';
@import '../styles/utilities';
@import '../styles/objects/l-constrain';
@import '../styles/objects/l-grid';
@import '../styles/objects/headings';
@import '../styles/components/h-group';
@import '../styles/unique/survey';

.container {
	@extend .l-constrain;
}

.countrySelector {
	@extend .survey__select-country;
}

.countryList {
	@extend .form__items;
}

.clear {
        clear: both;
}

.legend {
	@extend .form__legend;
}

.headerGroup {
	@extend .h-group;
}

.headerLead {
	@extend .h-group__lead;
	@extend .h3;
}

.headerMain {
	@extend .h-group__main;
	@extend .h2;
}

.subHeader {
	@extend .h-group__lead;
	@extend .h4;
}

.formAction {
        @extend .form__actions;
        @extend .u-text-center;
}