@import '../styles/vars';
@import '../styles/functions';
@import '../styles/objects/views';
@import '../styles/mixins';
@import '../styles/animations';
@import '../styles/unique/policy-set';
@import '../styles/components/form';
@import '../styles/icons';
@import '../styles/objects/l-grid';
@import '../styles/objects/l-constrain';

.policySet {
  @extend .policy-set;
}

.constrain {
  @extend .l-constrain;
  @extend .l-constrain--narrow;
}

.policySetTitle {
  @extend .policy-set__title;
}

.policySetPolicies {
  @extend .policy-set__policies;
}

.selectPolicy {
  @extend .policy-set__select;
}

.selectPolicyButtons {
  @extend .form__actions;
}

.buttonGrid {
  @extend .l-grid;
  @extend .l-grid--tight;
}
