@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/components/hero';
@import '../styles/objects/l-constrain';

.hero {
  @extend .hero;
}

.constrain {
  @extend .l-constrain;
}

.heroH1 {
  @extend .hero__impact;
}

.heroH2 {
  @extend .hero__strapline;
}
