@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/utilities';
@import '../styles/animations';
@import '../styles/icons';
@import '../styles/components/form';

.center {
  @extend .u-text-center;
}

.selectionStatus {
  @extend .form__hint;
  
  &.error {
    @extend .form__hint--error;
  }
}

.icon {
  @extend .icon;
  @extend .info;
  
  .error & {
      @extend .info--white;
  }
}