@import '../styles/functions';
@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/components/party-block';
@import '../styles/components/h-group';

.partyBlock {
  @extend .party-block;
  @extend .party-block--issue;
}

.policyParty {
  @extend .party-block__policy-party;
}

.issueName {
  @include party-block__policy-party__dt;
  @extend .h-group__lead;

  // Override style in scss file to more closely match
  // appearance at https://vfp-survey.web.app/results.html#/personal-results
  @include font-sans;
}

.partyName {
  @include party-block__policy-party__dd;
  @include party-block__party;
  @extend .h-group__main;

  // Override style in scss file to more closely match
  // appearance at https://vfp-survey.web.app/results.html#/personal-results
  @include font-serif;
}
