@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/unique/survey';

.progressMarker {
  @extend .survey-issue__progress;
}

.progressMarkerStep {
  @extend .survey-issue__progress-step;
}

.progressMarkerCurrent {
  @extend .survey-issue__progress-step--current;
}