@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/utilities';
@import '../styles/functions';
@import '../styles/icons';
@import '../styles/unique/survey-results';
@import '../styles/objects/l-constrain';
@import '../styles/objects/headings';
@import '../styles/objects/tabber';
@import '../styles/objects/l-grid';
@import '../styles/components/party-block';
@import '../styles/components/pie-chart';

.resultsDisplay {
  @extend .tabber__tab;
  @extend .u-page-padding;
}

.constrain {
  @extend .l-constrain;
  @extend .l-constrain--pad-up;
}

.titleWrapper {
  @extend .survey-results__section-title;
}

.title {
  @extend .h3;
  @extend .h--thin;
  @extend .u-no-margin;
}

.grid {
  @extend .l-grid;
  @extend .l-grid--1to2-col;
}

.gridUnit {
  @extend .l-grid-unit;
}

.results {
  @extend .survey-results__percentages;
}

.hGroupMain {
  @extend .h-group__main;
}

.hGroupLead {
  @extend .h-group__lead;
}

.partyBlockParty {
  @extend .party-block__party;
}

.chart {
  @extend .pie-chart__wrapper;
  @extend .pie-chart;
}

.resultsTotal {
  @extend .survey-results__total;
}

// TODO avoid repetition of logic and css from policyChoiceList component
.partyBlock {
  @extend .party-block;
  @extend .party-block--issue;
}

.policyParty {
  @extend .party-block__policy-party;
}
