@import '../styles/vars';
@import '../styles/objects/views';
@import '../styles/mixins';
@import '../styles/animations';
@import '../styles/unique/policy-set';
@import '../styles/components/form';
@import '../styles/icons';
@import '../styles/objects/l-grid';
@import '../styles/objects/l-constrain';

.singlePolicyChoice {
  @extend [data-ui-view];
  @extend [data-ui-view='policySet'];
  @extend .policy-set;
}

.constrain {
  @extend .l-constrain;
  @extend .l-constrain--narrow;
}

.headingContainer {
  @extend .policy-set__heading;
}

.heading {
  @extend .policy-set__title;
}

.policyList {
  @extend .policy-set__policies;
}

.selectPolicy {
  @extend .policy-set__select;
}

.selectPolicyButtons {
  @extend .form__actions;
}

.buttonGrid {
  @extend .l-grid;
  @extend .l-grid--tight;
}

.buttonGridButton {
  @extend .l-grid-unit--tight;
  @extend .l-grid-unit;
  @extend .l-grid-unit--split;
}