@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/utilities';
@import '../styles/animations';
@import '../styles/icons';
@import '../styles/components/form';

.center {
  @extend .u-text-center;
}

.status {
  @extend .form__hint;
  
  &.error {
    @extend .form__hint--error;
    
    animation: shake-animation .5s linear;
  }
}

.icon {
  @extend .icon;
  @extend .info;
  
  .error & {
      @extend .info--white;
  }
}

@keyframes shake-animation {
  10%, 90% {
    transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}