@import '../styles/vars';
@import '../styles/functions';
@import '../styles/mixins';
@import '../styles/animations';
@import '../styles/base';
@import '../styles/icons';
@import '../styles/objects/buttons';
@import '../styles/objects/l-grid';

.surveyButton {
  @extend .btn;
  @extend .btn--positive;
  @extend .btn--medium;
}

.positive {
  @extend .btn--positive;
  
  &[aria-disabled="true"] {
    @extend .btn:disabled;
  }
}

.negative {
  @extend .btn--negative;
  
  &[aria-disabled="true"] {
    @extend .btn:disabled;
  }
}

.surveyButtonIcon {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
  border-top: .35em solid transparent;
  border-bottom: .35em solid transparent;
  border-left: .45em solid #fff;
  border-right: 0;
  border-radius: .15em;
  
  [aria-disabled="true"] & {
    border-left-color: #777;
  }
}
