@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/functions';
@import '../styles/utilities';
@import '../styles/objects/l-constrain';
@import '../styles/unique/survey';
@import '../styles/objects/headings';

.padding {
  @extend .u-page-padding;
}

.headerContainer {
  @extend .survey__header;
}

.header {
  @extend .h5;
  @extend .survey__title;
}

.constrainRelative {
  @extend .l-constrain;
  @extend .l-constrain--relative;
}
