/* ==========================================================================
   Buttons
   - *Heavily* influenced by  @csswizardry -- csswizardry.com/beautons
   ========================================================================== */

.btn {
    display: inline-block;       /* [1] */
    vertical-align: middle;      /* [2] */
    white-space: nowrap;         /* [3] */
    font-family: inherit;        /* [4] */
    font-size: 100%;             /* [4] */
    cursor: pointer;             /* [5] */
    border: 0;                /* [6] */
    margin: 0;                   /* [6] */
    padding-top: 0;           /* [6] */
    padding-bottom: 0;           /* [6] */
    line-height: 3;              /* [7] */
    height: 3em;            /* [7] */
    padding-right: 1em;          /* [7] */
    padding-left: 1em;          /* [7] */
    background-color: #333;     /* [8] */
    border-radius: 4px;          /* [8] */
    overflow: visible;           /* [9] */
    -webkit-font-smoothing: antialiased;
    @include font-sans;
    transition: background-color 0.15s ease, transform 0.15s ease, box-shadow 0.15s ease;


    & > .icon {
        vertical-align: 3px;
    }

    & > .icon--right {
        margin-left: 0.5em;
    }

    & > .icon--left {
        margin-right: 0.5em;
    }
}

.btn,
.btn:hover,
.btn:active,
.btn:visited {
    color: #fff;             /* [11] */
    text-decoration: none;   /* [10] */
    box-shadow: 0 3px 0px rgba(0, 0, 0, .25);
    position: relative;

}

.btn:focus {
    // outline: $c-positive solid 3px;
}

.btn:hover,
.btn:focus {



}

.btn:active {
    transform: translateY(4px);
    // box-shadow: 0 3px 0px rgba(0, 0, 0, .25) inset;
    outline: none;
    border: none;
    box-shadow: none;

    .no-csstransform & {
        top: 3px;
    }
}

.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.btn-plain {
    border: none;
    background-color: transparent;
    @include font-sans;

    &:focus {
        outline: none;
    }
}




.btn--small {
    height: 2em;
    line-height: 2;
    padding-left: .5em;
    padding-right: .5em;
}

.btn--medium {
    @include font-size(20px);
}

.btn--large {
    @include font-size(24px);
    padding-left: 3em;
    padding-right: 3em;
}

.btn--block {
    height: auto;
    white-space: normal;
    line-height: 2.5;
    padding: .5em;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100%;
    strong {
        font-weight: 900;
    }
}


.btn--shortlist {
    width: auto;
    line-height: 1.2;
    min-height: 5em;

    @include respond-min(37.5em) {
        min-height: 3em;
    }
}

.btn--positive {
    background-color:  $c-positive;
    color: #fff;
    font-weight: 600;

    &:focus,
    &:hover {
        background-color: darken($c-positive, 5%);
    }

}

.btn--negative {
    background-color:  $c-negative;
    color: #fff;
    font-weight: 600;

    &:focus,
    &:hover {
        background-color: darken($c-negative, 5%);
    }

}

.btn--white {
    background: #fff;
    color: #333;

    &:hover {
        color: #000;
    }
}


.btn--inline {
    background-color:  $c-positive;
    color: #fff;
    font-weight: 600;
    height: 2.1em;
    line-height: 1;
    vertical-align: 0;

    &:focus,
    &:hover {
        background-color: darken($c-positive, 5%);
    }
}

.btn--share {
    padding-left: 0.5em;
    height: 2.1em;
    line-height: 1.9;
}

.btn--share-small {

    .backgroundsize & {

        height: 1.9em;
        font-size: 0.9em;

        > .icon {
            font-size: 8px;
            vertical-align: 5px;
            margin-right: 1em;
        }

    }
}

.btn--facebook {
    background-color: $c-facebook;

    &:hover {
        background-color: darken($c-facebook, 10);
    }
}

.btn--twitter {
    background-color: $c-twitter;

    &:hover {
        background-color: darken($c-twitter, 10);
    }
}

.btn--navigation {
    background-color: lighten($c-black, $lighten-amount);
    position: absolute;
    right: 0;
    top: 10px;
    box-shadow: none;
    border-radius: 0;
    padding: 0em 01em;
    height: 3em;

    > .icon {
        vertical-align: 3px;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: none;
        position: absolute;
    }

    @include respond-min($bp-tablet) {
        display: none;
    }
}

.btn--light-navigation {
    background-color: transparent;
    top: 18px;

    > .icon {
        color: $c-black;
    }
}

.btn--donate {
    height: 2.3em;
    line-height: 2.3;
    padding-left: 1em;
    padding-right: 1em;
    background: #fff;
    color: $c-green;
    font-weight: bold;

    &:visited,
    &:hover {
        color: darken($c-green, 5%);
    }
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled:focus {
    top: 0;
    background-color: #ddd;
    box-shadow: none;
    color: #777;
    cursor: default;         /* [1] */
}



/* ==========================================================================
   Below is used within the highlight block as there is a white bg for each
   button.
   ========================================================================== */

.btn--highlight-block {
    background-color: white;
    color: $c-black;
    width: 100%;
    white-space: normal;
    line-height: 1.5;
    padding: 0.5em 1em 0.5em 1em;
    height: auto;
    min-height: 4em;


    &:active,
    &:hover,
    &:visited {
        color: $c-black;
    }

    @include respond-min($bp-tablet) {
        padding: 0.5em 2em 0.5em 1em;
    }

    &:after {
        display: none;
        content: " ";
        position: absolute;
        font-size: 10px;
        right: 2em;
        top: 3.5em;

        @extend .icon:before;
        @extend .right-arrow--dark;
    }

    @include respond-min($bp-tablet) {
        &:after {
            display: block;

        }
    }

}
.btn--highlight-block-external {

    &:after {
        @extend .external-link--dark;
    }

}

// Just help out a button thats usually coloured and will need padding to be readable
.btn.u-visuallyhidden--focusable {
    &:focus,
    &:active {
        padding: 0 1em;
    }
}
