/* ==========================================================================
   Expander:
   Show and hide a dom sibling construct
   ========================================================================== */

.expander {}

.expander__header {
    position: relative;
}

.expander__hint {
    background:#fff;
    border: 1px solid $c-grey;
    border-radius: 5px;
    line-height: 10px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    padding: 0;
    margin-top: -.75em;
    right: 0;
    text-align: center;
}

.expander__header.is-collapsed + .expander__content {
    display: none;
}

.expander__header.is-collapsed {
    // border-bottom: 2px solid $c-grey;
    margin-bottom: 0;
}
