/* ==========================================================================
   Gauge
   Show a radial percentage
     .gauge
   ========================================================================== */

$gaugeSize : 72px;
$insetSize : 55px;

.gauge {
    position: relative;
    background: #ccc;
    width: $gaugeSize;
    height: $gaugeSize;
    border-radius: 50%;

    .no-js & {
      background: #fff;
    }
}

.gauge__circle {
    width: $gaugeSize;
    height: $gaugeSize;
    border-radius: 50%;
}

.gauge__mask,
.gauge__fill {
    position: absolute;
    -webkit-backface-visibility: hidden;
    border-radius: 50%;
    width: $gaugeSize;
    height: $gaugeSize;
    transition: transform 1s;
}

.gauge__fill {
    clip: rect(0px, $gaugeSize/2, $gaugeSize, 0);
}


@each $party, $color in $parties {
    .#{$party} .gauge__fill {
        background-color: $color;
    }
}

@each $party, $color in $parties {

    .no-csstransforms .#{$party} .gauge__inset,
    .no-js .#{$party} .gauge__inset {
        background-color: $color;
        color: pie-chart-label-color($color);
    }
}


.gauge__mask {
    clip: rect(0px, $gaugeSize, $gaugeSize, $gaugeSize/2);
}

.gauge__inset {
    width: $insetSize;
    height: $insetSize;
    top: 0;
    position: absolute;
    margin-left: ($gaugeSize - $insetSize)/2;
    margin-top: ($gaugeSize - $insetSize)/2;
    background: #fff;
    border-radius: 50%;
}

.gauge__data {
    width: 40px;
    position: absolute;
    font-size: 16px;
    top: ($insetSize - 16px) / 2;
    left: ($insetSize - 40px) / 2;
    line-height: 1;
    text-align: center;
}

$increment : 180deg / 100;
@for $i from 1 through 100 {
  .gauge[data-progress="#{$i}"] {
      .gauge__circle {
          .gauge__mask--full {
              transform: rotate($increment * $i);
          }
          .gauge__fill {
              transform: rotate($increment * $i);
          }
       }
   }
}
