.h-group-soft {
    text-align: center;
    @include font-sans;
    padding: 1em;
}

.h-group-soft__main {
    font-weight: 400;
    font-size: 1.7em;
    margin: 0;
}

.h-group-soft__sub {
    font-size: 1.1em;
}
