/* ==========================================================================
   Headings
   ========================================================================== */
h1,
.h1 {
    @include font-size($h1-size);

    @include respond-min($bp-tablet) {
        @include font-size(48px);
    }

    @include respond-min($bp-desktop) {
        @include font-size(54px);
    }
}

h2,
.h2 {
    @include font-size($h2-size);

    @include respond-min($bp-tablet) {
        @include font-size(36px);
    }

    @include respond-min($bp-desktop) {
        @include font-size(44px);
    }
}

h3,
.h3 {
    @include font-size($h3-size);

    @include respond-min($bp-tablet) {
        @include font-size(27px);
    }
}

h4,
.h4 {
    @include font-size($h4-size);
}

h5,
.h5 {
    @include font-size($h5-size);
}

.h--thin {
    font-weight: 400;
}

.h--sans {
    @include font-sans;
}