/* ==========================================================================
   Constrain
   - A constraining class to pull and centralise layout
   ========================================================================== */

.l-constrain {
    margin: 0 auto;
    max-width: 50em;
    padding: 0 em(15px);

    // unsure if this is appropriate
    overflow: hidden;
}


.l-constrain--narrow {
    max-width: 40em;
}

.l-constrain__inner {
    overflow: hidden;

    @include respond-min($bp-desktop) {
        max-width: 50em;
        border-radius: 5px;
        margin-bottom: 2em;
        margin: 0 auto;
    }
}


.l-constrain--relative {
    position: relative;
}


.l-constrain--pad-up {
    padding: 0;

    @include respond-min($bp-tablet) {
        padding: 0 em(15px);
    }
}


.l-constrain--blog {
    max-width: 40em;
}

.l-constrain--no-overflow {
    overflow: visible;
}


.l-constrain--relative-desktop {
    @include respond-min($bp-tablet) {
        position: relative;
    }
}
