/*
   Grids
   - Object allows the creation of simple grid structures
   - Stop worrying and go to the pub http://dbushell.com/2013/03/19/on-responsive-layout-and-grids/
   ========================================================================== */

.l-grid {
    @include cf;
    padding: 0;
    margin: 0 -1.5em;
}

.l-grid-unit {
    @include cf;
    display: block;
    float: left;
    padding: 0 1.5em;
    width: 100%;
}

/**
 * Variations of base grid
 */


.l-grid--tight {
    margin: 0 -0.5em;

    > .l-grid-unit {
        @extend .l-grid-unit--tight;
    }
}

.l-grid-unit--tight {
    padding: 0 0.5em;
}

/**
 * Common column abstractions
 */


.l-grid--split {
    > .l-grid-unit {
        @extend .l-grid-unit--split;
    }
}

.l-grid-unit--split {
    width: 50%;
}

.l-grid--split--reverse {

    > .l-grid-unit:first-child {
        // slightly better x-browser compat than last;
        float: right;
    }
}

.columnConfig {
    @include respond-min($bp-tablet) {
        width: 50%;
        &:nth-child(odd) {
            clear: left;
        }
    }
}

.l-grid--1to2-col {

    > .l-grid-unit {

        @extend .columnConfig;

    }

}

.l-grid--footer {

    > .l-grid-unit:first-child {

        @include respond-min($bp-tablet) {
            width: 60%;
        }

    }

    > .l-grid-unit {

        @include respond-min($bp-tablet) {
            width: 40%;
        }

    }

}

.l-grid-unit--divide-under {
    border-top: solid 1px lighten($c-black, 20);
    padding-top: 1em;
    margin-top: 0.5em;

    @include respond-min($bp-tablet) {
        padding-top: 0px;
        margin-top: 0px;
        border-top: none;
        border-left: solid 1px lighten($c-black, 20);
    }
}

.gridCols {
    @include respond-min($bp-tablet) {
        width: 50%;
    }

    @include respond-min($bp-desktop) {
        width: 33.3%;
    }
}

.l-grid--1to3-col {

    > .l-grid-unit {

        @extend .gridCols

    }

}

.l-grid-unit--m-border-btm {
    border-bottom: solid #fff 5px;
    padding-bottom: 1em;

    @include respond-min($bp-tablet) {
        border: none;
        padding-bottom: inherit;
    }

}

.l-grid-unit--divide-under {
    border-top: solid lighten($c-black, 50) 2px;
    padding-top: 1em;
    margin-top: 0.5em;

    @include respond-min($bp-tablet) {
        border-top: none;
        border-left: solid lighten($c-black, 50) 2px;
        padding-top: inherit;
        margin-top: inherit;
    }

}

