/* ==========================================================================
   Little layout util to split to elements in side by side
   ========================================================================== */

.l-split {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.l-split-medium-up {

    @include respond-min($bp-tablet) {

        .no-flexbox & {

            @include cf();

            > * {
                float: right;
            }

            > *:first-child {
                float: left;
            }

        }

        display:flex;
        justify-content: space-between;
        align-items: center;

        > * {
            margin-bottom: 0;
        }
    }

}
