/* ==========================================================================
   Lists
   - In all shapes and sizes, anything that details a grouping of sequencial items
   ========================================================================== */

.list-plain {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list--inline {
    overflow: hidden;

    > li {
        float:left;
        margin-right: 0.5em;
    }
}

.list--checked {
    > li {
        position: relative;
        padding-left: 1.5em;

        &:before {
            position: absolute;
            left: 0px;
            top: 8px;
            font-size: 10px;

            @extend .icon:before;
            @extend .check;
        }
    }
}

.list--no-margin {
    li {
        margin: 0px;
    }
}

.list-dl {

    dt {
        border-bottom: 1px solid $c-grey;
        @include font-size($h2-size);
        font-weight: 600;
    }

    dd {
        @include font-sans;
        margin-bottom: $base-spacing-unit * 2;
        margin-left: 0;
    }
}


.list-friends {
    text-align: center;
    margin: $base-spacing-unit;
    padding: $base-spacing-unit 0;
    border-top: 1px solid $c-grey;
    border-bottom: 1px solid $c-grey;
}

.list-friends li {
    display:inline-block;
    padding-right: 1em;
    margin-bottom: 0;

    &:nth-child(even) {
        color: #444;
    }

    @include respond-min($bp-tablet) {
        padding-right:0;
        width: 49%;
    }

    @include respond-min($bp-desktop) {
        padding-right:0;
        width: 33%;
    }

}
