

.chart-position-sticky {
    @include respond-min($bp-desktop) {
        position: fixed;
        width: 453px;
        top: 0px;
    }
}

.chart-position-bottom {
    @include respond-min($bp-desktop) {
        position: absolute;
        bottom: 0px;
        width: 453px;
        top: auto;
    }
}


/**
 * - National results - vfp-show-hide directive for result blocks
 */


.vfp-show-hide--show {
    display: block;
    animation: fadeIn 1s ease;
}

.vfp-show-hide--hide {
    display: none;
}

.vfp-show-hide__button {
    padding: 0.5em 0em;
    border: none;
    background: none;
    text-decoration: underline;
    display: block;
    width: 100%;
    text-align: center;

    > .icon {
        margin-left: 0.5em;
        vertical-align: 3px;
    }

    &:focus {
        outline: none;
    }
}
