/* ==========================================================================
   Video elements
   ========================================================================== */

.video {
    margin-bottom: $base-spacing-unit;
    text-align: center;
}

html.video {
    // stupid modernizer ( need to prefix things )
    text-align: left;
    margin-bottom: 0px;
}

.video--full-width {

    @include respond-min($bp-tablet) {
        padding: 0 10%;
    }

    @include respond-min($bp-desktop) {
        padding: 0 20%;
    }

}
