/* ==========================================================================
   UI Router Views
   - Mainly for animations etc
   ========================================================================== */

[data-ui-view] {
   animation: fadeIn .75s ease;
}

[data-ui-view='policySet'] {
    animation: policyTransition .75s ease;
}
