.blog-page {

}

.blog-page__base-nav {

    margin: 0;
    padding: 1em 0em;

    > li {
        float:left;

        &:last-child {
            float: right;
        }
    }

    .icon {
        color: $c-dark-grey;
        margin: 0em 0.7em;
        vertical-align: middle;

    }
}
