.cms-page {
    h1,
    h2,
    h3,
    h4 {
        margin-top: $base-spacing-unit;
         @include font-sans;
    }

    nav {
        margin-bottom: $base-spacing-unit*2;
        @include font-size(16px);

        @include respond-min($bp-tablet){
            @include font-size(18px);
        }
    }
}
