

/* Current MP */

.constituency__current-mp {
   color: $c-grey;
   padding: 1em 0;

   h3 {
        margin-bottom: 0.5em;
    }

    a {
        color: $c-grey;
        font-size: 0.9em;

        &:hover {
            color: darken($c-grey, 30);
        }

    }

    .icon {
        padding: 0em 1em;;
        vertical-align: 3px;
    }

}

.constituency__current-mp-img {
    img {
        max-width: 100px;
        max-height: 80px;
    }
}

.constituency__current-mp-name {
    @include font-sans;
    font-size: 1.3em;
    font-weight: normal;
}

.constituency__current-mp-party {
    @include font-serif;
    font-weight: 900;
    margin-bottom: .5em;
}


.constituency__current-mp-data {
    font-size: 0.8em;
    color: darken($c-grey, 30);
    padding-top: 0.3em;

    a {
        color: darken($c-grey, 30);

        &:hover {
            color: $c-grey;
        }
    }
}

/* Whos standing */

.constituency__standing-mps {
    position: relative;
    padding-top: 3em;

    h3 {
        margin-bottom: 0em;
    }

    &:after {
        display: none;

        @include respond-min(68.5em) {
            content: "";
            display: block;
            background-image: url('../images/standing-mps.png');
            background-repeat: no-repeat;
            background-position: 90% bottom;
            background-size: contain;
            width: 230px;
            height: 100px;
            position: absolute;
            right: -20px;
            bottom: 0;
        }
    }

    @include respond-min($bp-tablet) {
        padding: 1em 0;
    }

}

.constituency-standing-mps__cta {
    color: lighten($c-black, 30);
    text-align: center;
    padding: 1em 0;

    p {
        font-size: 0.8em;
    }

    a {
        margin-bottom: 1em;
    }

    .a-low-em {
        color: lighten($c-black, 30);

        &:hover {
            color: $c-black;
        }
    }

    @include respond-min($bp-tablet) {
        padding-top: .7em;
        text-align: left;
    }
}
