// This a very specific style for unavailable irish policies
.country-unavailable {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 0.9em 1em;
    display: block;
    line-height: 1;

    .flag {
        font-size: 5px;
        display: block;

        .no-backgroundsize &:before {
            background: url('../images/ni_flag_small.png') no-repeat;
        }
    }

    .l-flag {
        margin-bottom: 0.5em;
    }

    .l-flag__image {
        padding-right: 0.5em;
    }

    strong {
        display: block;
        @include font-size(20px);
    }

    span {
        display: block;
        @include font-size(15px);
    }

}
