.donate-cta {
    padding: 1em 0em;
    @include font-sans;
    text-align: center;

    background: url('../images/star-bg--mobile.png') no-repeat right bottom;

    @include respond-min($bp-tablet) {
        background: url('../images/star-bg.png') no-repeat right center;

        .l-grid-unit:first-child {
            text-align: left;
        }
    }

    p {
        @include respond-min($bp-tablet) {
            margin: 0;
            line-height: 1.2;
        }
    }

}
