.footer {
    @include font-sans;
}

.footer__sitemap {

    overflow: hidden;

    @include respond-min($bp-tablet) {
        text-align: center;

    }

    a {
        text-decoration: none;
        font-size: 0.9em;

        &:hover {
            text-decoration: underline;
        }
    }

    h3 {
        @include respond-min($bp-tablet) {
            display: none;
        }
    }

    ul {
        overflow: hidden;
        display: inline-block;
    }

    li {
        @include respond-min(25em) {
            width: 50%;
            float: left;
        }

        @include respond-min($bp-tablet) {
            width: auto;
            display: inline-block;
            float: none;
        }

        &:before {
            @include respond-min($bp-tablet) {
                content: "|";
                padding: 0.3em;
                padding-left: 0;
                color: lighten($c-dark-grey, 50);
            }
        }

        &:first-child:before {
            @include respond-min($bp-tablet) {
                content: "";
                padding: 0;
            }
        }
    }


}

.footer__newsletter {

    .form {
        overflow: hidden;
    }

    .form__input {
        width: 100%;

        @include respond-min($bp-tablet) {
            width: 65%;
        }
    }

    .btn {
        margin: 0em 0em 0.2em 0.2em;

        @include respond-max($bp-tablet) {
            float: right;
        }
    }
}

.footer__sponsors {
    padding:  1em 0em;

    ul li {
        display: block;

        a {
            display: block;
            text-align: center;
            // padding: 1em;
            border: 3px solid $c-grey;
            min-width: 180px;

            img {
                max-width: 100%;
            }
        }
    }

    @include respond-min($bp-tablet) {
        ul {
            text-align: center;

            li {
                min-width: 180px;
                display: inline;
                position: relative;
                margin-right: 0.1em;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    display: inline-block;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}

.footer__meta {
    font-size: 0.8em;

    @include respond-min($bp-tablet) {
        text-align: center;

    }

    span {
        font-weight: bold;
    }

}

.footer__uvd {
    font-size: 0.8em;
    text-align: center;

    p {
        display: inline-block
    }

    a {
        @extend .icon;
        @extend .uvd-logo-grey;
        display: inline-block;
        vertical-align: top;

        &:hover {
            @extend .uvd-logo;
        }

    }
}
