/* ==========================================================================
   Policy sets
   ========================================================================== */

.policy-set {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;


    &:last-child {
      border-bottom: 0;
    }

}

.policy-set--selected {
    background: #F6F9F2;
}

.policy-set__heading {
    margin-bottom: 0.5em;
}

.policy-set__title {
    margin-bottom: 0;
    @include font-size(21px);

    @include respond-min($bp-tablet) {
        @include font-size(28px);
    }


}

.policy-set__policies {
    @include font-size(16px);
    padding-left: em(11px);

    @include respond-min($bp-tablet) {
        @include font-size(18px);
    }

}

.policy-set__select {
    text-align: center;
    padding-bottom: 0.5em;
}

.policy-set__reveal {
    @include font-serif;
    @include font-size(18px);
    font-weight: 700;
    text-decoration: underline;
    margin-left: -.5em;

    &:hover {
      	opacity: .85;
  	}

	.icon {
      	vertical-align: 2px;
      	margin-left: 5px;
    }
}


/*
   Policy set in an article context
   ========================================================================== */

.policy-set--article {
   animation: none;
   border-bottom: 0;
   overflow: scroll;
   overflow-x: hidden;
   margin: 1em 0;

   .policy-set__policies {
       padding-left: em(22px);
   }

   .no-legacy-ie & {
      height: auto;
   }
}

.policy-set--article-fixed-height {
   height: 380px;

   .no-legacy-ie & {
      height: auto;
      max-height: 380px;
   }
}
