.article {
    margin-top: 0.5em;

    img {
        max-width: 100%;
        margin-bottom: 1em;
        border: 2px solid $c-grey;
    }

    p {
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.2em;
    }

    .article__author {
        font-size: 1.2rem;
        margin-bottom: 0.3em;
    }

    .article__date {
        font-size: 1rem;
        line-height: 2.4;
    }

    /* FitVids class */
    .fluid-width-video-wrapper {
        margin-bottom: 1em;
        max-width: 100%;
        border: 2px solid $c-grey;
    }


    /* - WORDPRESS MAGIC CLASSES - */

    .alignleft {
        float: left;
        margin-right: 1em;
    }

    .alignright {
        width: 100%;

        @include respond-min($bp-tablet) {
            width: auto;
            float: right;
            margin-left: 1em;
        }
    }

}


.article__date {
    margin-bottom: 0.7em;
    color: darken($c-grey, 30);
    @include font-sans;
}


.article__next-prev-article {
    overflow: hidden;
    @include font-sans;
    margin-bottom: 1em;

    > li {
        float:left;

        &:last-child {
            float: right;
        }
    }

    .icon {
        color: $c-dark-grey;
        margin: 0em 0.7em;
        vertical-align: middle;

    }
}

.article--snippet {
    border-bottom: 3px solid $c-grey;
    padding-bottom: 2em;
    padding-top: 1em;

    &:last-child {
        border: none;
    }

    h2 {
        font-size: 1.6rem;

        a {
            text-decoration: none;

            &:hover {
                color: lighten($c-black, 20);
            }
        }
    }


}

.article--full {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 0.2em solid $c-grey;

    @include respond-min($bp-tablet) {
        margin-top: 1.5em;
    }

    h1 {
        font-size: 1.5rem;

        @include respond-min($bp-tablet) {
            font-size: 2.5rem;
        }
    }
}

