.filter-block {
    padding: 1em;
    border-top: 2px solid $c-grey;

    ul {
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }

    li {
        width: 100%;
        padding: 0.5em;
        box-sizing: border-box;
        margin: 0px;
    }

    label {
        margin-bottom: 0.2em;
        display: block;
    }

    .form__select {
        display: block;
        width: 100%;
    }

    @include respond-min($bp-tablet) {
        border: 2px solid $c-grey;
        border-radius: em(7px);
        padding: 0em;
        background-color: $c-light-grey;
        margin-bottom: 1em;

        li {
            float:left;
            width: 50%;
            padding: 0.5em;
            overflow: hidden;

            &:first-child {
                border-right: 2px solid $c-grey;
            }
        }

        label {
            display: inline-block;
            width: 30%;
            float: left;
            margin-bottom: 0px;
            line-height:2.2;
        }

        .form__select {
            display: inline-block;
            width: 70%;
            float: right;
        }
    }

}
