/* ==========================================================================
   Flags: Icons of flags
   ========================================================================== */
.flag {
    font-size: 10px;
}

.flag:before {
    content: '';
    vertical-align: middle;
    background: url('../../images/flags.png');
    height:3.9em;
    width: 6.1em;
    display: inline-block;
    background-size:49.8em 4em;
    background-repeat: no-repeat;
}


.flag--england:before {
    background-position: -29em 0;
    height:3.9em;
    width: 6.1em;
}

.flag--scotland:before {
    background-position: -43.7em 0;
    height:3.9em;
    width: 6.1em;
}

.flag--wales:before {
    background-position: -14.5em 0;
    height:3.9em;
    width: 6.1em;
}

.flag--northern-ireland:before {
    background-position: 0 0;
    height:3.9em;
    width: 6.1em;
}
