.highlight-block {
    border-radius: em(7px);
    background-color: $c-grey;
    padding: 1em;
    margin-bottom: 2em;
    @include font-sans;

    .l-grid-unit {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

}
