/* ==========================================================================
   Lead In
   - A emphasized block that leads user into another container
   ========================================================================== */

.lead-in {

    background: $c-black;
    color: #fff;
    padding: 1.5em 0;
    position: relative;
    text-align: center;
    margin-bottom: $base-spacing-unit * 2;

    &:after {
        content: '';
        background: url('../images/lead-in-arrow.svg') no-repeat;
        display: block;
        height: 21px;
        left: 50%;
        margin-left: -33.5px;
        position: absolute;
        top: 100%;
        width: 65px;
    }

    .no-svg &:after {
        background: url('../images/lead-in-arrow.png') no-repeat;
    }
}

.lead-in__heading {
    @include font-sans;
    font-weight: normal;
    margin: 0;
    line-height: 1.2;
    margin-bottom: .2em;
}
