/* ==========================================================================
   Masthead
   - The top of the site that persists throughout
   ========================================================================== */

.masthead {
    background: $c-black url('../images/brand/masthead.png') repeat-x;
    margin: 0;
    padding: 20px 0px 0px;
    position: relative;
    color: #fff;
}

.masthead__logo {
    padding-bottom: 0.5em;
    padding-left: em(15px);

    @include respond-min($bp-tablet) {
        padding: 0;
        padding-bottom: 0.5em;
    }

}

.masthead--light {
    background-color: white;
    margin-bottom: $base-spacing-unit;
    padding-top: 30px;
    color: #000;
    overflow: hidden;
}

