/* ==========================================================================
   Messages
   ========================================================================== */

.message {
    padding: 0.5em;
    @include font-sans;
    margin-bottom:$base-spacing-unit;
    border-radius: 5px;
    background: #E8E37C;
    *:last-child {
        margin-bottom: 0;
    }

    html.backgroundsize & .icon {
        font-size: 20px;
    }
}

.message--success {
    color:#fff;
    background-color: $c-positive;
}

.message--error {
    color:#fff;
    background-color: $c-negative;
}


.message--light {
    background-color: #fff;
    border:1px solid $c-grey;
}
