/* ==========================================================================
   navigation;
   Tightly coupled to the DOM structure (update if needed)
   ========================================================================== */

.navigation {
    background-color: lighten($c-black, 10);
    display: block;
    animation: navigationAnimation .5s linear;

    ul {
        overflow: hidden;
    }

    li {
        display: block;
        margin: 0px;

        &:first-child a {
            font-weight: 800;
        }

        &:last-child a {
            padding-right: 0;
        }
    }

    .is-active {
        text-decoration: underline;
    }

    a {
        color: $c-grey;
        @include font-sans;
        text-decoration: none;
        font-size: 0.9em;
        padding: 0.7em;
        display: block;
        line-height: 1;

        &:hover {
            background-color: darken($c-black, 10);
            text-decoration: underline;
        }
    }

    @include respond-min($bp-tablet) {
        display: block !important;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 0 1em 0 0;
        background-color: $c-black;


        li {
            float: left;

        }


        a {
            padding-top: 0.5em;

            &:hover {
                background-color: transparent;

            }
        }
    }
}

.navigation--light {
    background-color: transparent;
    margin-bottom: 1em;

    a {
        color: $c-black;
        background-color: $c-grey;

        &:hover {
            background-color: darken($c-grey, 20);
        }

        @include respond-min($bp-tablet) {
            background-color: inherit;

            &:hover {
                text-decoration: underline;
                background-color: inherit;
            }
        }
    }
}

.navigation--collapsed {
    display: none;
}
