/* ==========================================================================
   Panel
   ========================================================================== */

.panel {
    background: $c-grey;
    width: 100%;
    padding: 1em 0;
    // margin: 2em 0;
    @include font-sans;
}

.panel--dark {
    background-color: $c-dark-grey;
    color: white;
}

.panel--light {
    background-color: white;
    color: #000;
}

.panel--green {
    background-color: $c-green;
    color: white;
}


.panel--split {
    background: url('../images/constituency-vertical-background.png');
    background-position: center;
    background-repeat: repeat-x;

    padding: 0;
    position: relative;

    @include respond-min($bp-tablet) {
        background: url('../images/constituency-horizontal-background.png');
        background-position: center;
        background-repeat: repeat-y;
    }

    .cssgradients & {

        background: linear-gradient(to bottom, rgba(53, 53, 53, 1) 0%, rgba(53, 53, 53, 1) 50%, rgba(234, 234, 234, 1) 50%, rgba(234, 234, 234, 1) 100%);

        @include respond-min($bp-tablet) {
            background: linear-gradient(to right, rgba(53, 53, 53, 1) 0%, rgba(53, 53, 53, 1) 50%, rgba(234, 234, 234, 1) 50%, rgba(234, 234, 234, 1) 100%);
        }
    }
}

.csscalc .panel--split:before {
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: $c-black transparent transparent transparent;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: calc(50% - 2px);

    @include respond-min($bp-tablet) {
        margin-top: -20px;
        border-width: 25px 25px 25px 0;
        border-color: transparent $c-grey transparent transparent;
    }
}

.panel--footer {
    border-top: 4px $c-black solid;
    margin-bottom: 0;
}
