/* ==========================================================================
   Survey issue result
   ========================================================================== */

.party-block {
    padding: 0.5em;
    border-left: 8px solid #eee;
    position: relative;
    margin-bottom: 0;

    @include respond-min($bp-tablet) {
        background: #F7F7F7;
        margin-bottom: 1em;
    }


    &:after, &:before {
        // fake border bottom to divide
        content: '';
        display: block;
        border-bottom: 2px solid $c-grey;
        position: absolute;
        left:-8px;
        right:0;
        top:0;
        z-index: 10;

        @include respond-min($bp-tablet) {
            display: none;
        }
    }

    &:after {
        display: none;
    }

    &:last-child:after {
        top: auto;
        bottom: 0;
        display: block;

         @include respond-min($bp-tablet) {
            display: none;
        }
    }

}

.party-block--issue {

    .party-block__party-logo {
        @include respond-min($bp-tablet) {
            top: 2em;
            width: 34px;
        }
    }

}

.party-block__party-logo {

    position: absolute;
    right: .5em;
    top: .5em;
    width: 45px;
}

@mixin party-block__policy-party__dt-dd-common {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

@mixin party-block__policy-party__dt {
    @include party-block__policy-party__dt-dd-common;
    @include font-sans;

    @include respond-min($bp-tablet) {
        @include font-size(24px);
        // margin-bottom: 0.5em;
    }
}

@mixin party-block__policy-party__dd {
    @include party-block__policy-party__dt-dd-common;
    @include font-serif;
    font-weight: 900;
}

@mixin party-block__party {
    @include font-serif;
    color: #000;
    font-weight: 900;
    @include font-size(21px);
}

.party-block__policy-party {
    @include font-size(21px);
    margin-bottom : 0;

    dt {
        @include party-block__policy-party__dt;
    }

    dd {
        @include party-block__policy-party__dd;
    }

    .party-block__issue {
        @include font-sans;
        @include font-size(26px);
        font-weight:normal;
        @include respond-min($bp-tablet) {
            @include font-size(28px);
            font-weight: 600;
            // margin-bottom: 0.5em;
        }
    }

    .party-block__party {
        @include party-block__party;
    }
}

.party-block__policy-title {
    @include visually-hidden;
}

.party-block__view-policy {
    @include font-size(16px);
    display: block;

    .no-js & {
        display: none;
    }

    @include respond-min($bp-tablet) {
        position: absolute;
        top: 0.5em;
        right: 1em;
    }
}


.party-block-modal {

    .party-block__policy-title {
        @include visually-hidden--disable;
        position: relative;
        padding: 0.25em 0.5em;
        border-bottom-width: 3px;
        border-bottom-style:  solid;

        .h-group__lead {
            @include font-sans;
            @include font-size(30px);
        }

        .h-group__main {
             @include font-serif;
             @include font-size(27px);
        }

        .party-block__party-logo {
            position: absolute;
            top: auto;
            bottom: 0.5em;
            right: 0.5em;
            width: 50px;
        }
    }

    .policy-set {
        padding: 1em;
    }
}

.party-block--policy-browser {

    animation: policyTransition 1s;

    @include respond-min($bp-tablet) {
        background: none;
        border: none;
    }

    ul {
        margin: 0;
    }

    article {
        margin-bottom: 1em;

        @include respond-min($bp-tablet) {
            margin-bottom: 0;
        }
    }

    .icon--right {
        margin-left: 0.8em;
        vertical-align: 3px;
    }
}

.party-block--policy-browser-hide {
    display: none;
}

.party-block__chosen {
    background-color: $c-grey;
    @include font-sans;
    margin: 0.5em -0.5em;

    @include respond-min($bp-tablet) {
        border-radius: em(7px);
        margin: 0.7em 0em;
    }

    p {
        padding: 0.5em 0em;
        text-align: center;
    }
}
