.site-notification {
    @include font-sans;
    background-color: $c-green;
    padding: .75em 0;
    color: white;
    text-align: center;
    a {
        color: white;
        white-space: nowrap;
    }

}

.site-notification__content {
    position: relative;
    padding: 0 1em;

    @include font-size(14px);

    @include respond-min($bp-tablet) {
        padding: 0 3em;
        @include font-size(18px);
    }
}

.site-notification__link {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;

    .icon {
        display: none;
        margin-left: 5px;
        text-decoration: none;
        vertical-align: middle;

        @include respond-min($bp-tablet) {
            display: inline-block;
        }
    }
}

.site-notification__dismiss {
    position: absolute;
    right: -5px;
    line-height: 1;
    padding: 0;
    top: 0;
    font-size: 10px;

    @include respond-min($bp-tablet) {

        .backgroundsize  & {
            font-size: 14px;
        }

    }

    .icon {
        font-size: inherit;
    }
}

.site-notification__button {
    color: #fff;
    color: rgba(255,255,255,0.7);
    text-decoration: underline;
    padding: 0;

    &:hover {
        cursor: pointer;
        color: #fff;
    }

}

.site-notification__donate {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5em;
    padding-top: .5em;
}
