.social-icons > li {

    display: inline-block;
    margin-left: 0.5em;
    margin-bottom: 0;

    &:first-child {
        margin-left: 0;
    }

    a {

        &:hover {
            opacity: 0.8;
        }

    }

}
